.h1{
    background-color: red;
    font-size: 50px;

}
#p{
    background-color:blue;
    font-size: 45px;
    
}
.h2{
    background-color:yellow;
    font-size: 40px;
}
.h3{
    background-color: green;
    font-size: 35px;
    
}
